.App {
  text-align: center;
  margin-top: 50px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.MuiFormControl-root.MuiTextField-root.MuiFormControl-marginNormal {
  width: 90%;
}
.MuiTypography-h4.MuiTypography-gutterBottom {
  text-align: left;
}
.form-birth,.form-document{
  display: inline-flex;
}
.form-gender {
  margin: 20px;
  text-align: left
}
#datos-personales{
  text-align: left;
  margin: 20px;
}
.birthday-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: auto;
}
.date-fields > div {
  width: 90%;
}
.form-birth > label, .form-document > label{
  margin-left:40px;
  margin-top:30px
}