.App {
  text-align: center;
  margin-top: 50px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiTypography-h4.MuiTypography-gutterBottom {
  text-align: left;
}

.form-gender {
  margin: 20px;
  text-align: left
}

.birthday-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: auto;
}

.date-fields>div {
  width: 90%;
}

.document-type>div {
  width: 100%
}

.document-container {
  display: inline-flex
}

.col-sm-6>div {
  width: 90%
}

.birthday-container>div {
  width: 33%
}

.first-row {
  margin-top: 40px;
}

.second-row {
  text-align: left;
  margin-top: 30px;
}

.MuiFormControl-marginNormal {
  margin-top: 0px !important;
}

.row.birthday-container {
  margin-left: 23px;
  width: 93%;
  float: left;
}

.row.document-container {
  margin-left: 11px;
  width: 97%;
  float: left;
}

h3, h4, label {
  color: #3D4451
}

.form-birth>label, .form-document>label {
  margin-left: 23px;
}
.id-row{
  margin-top:30px;
}
.id-row > div{
  margin-left: 35px;
  float:left;
}